.quiz-info {
    line-height: 30px !important;
    margin: 20px 0;
}

.card {
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

@media only screen and (min-width: 1200px) {
    .quiz-list {
        max-width: 80vw !important;
    }
}